html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
}
/* Header end */
.header {
  margin-top: 0;
  margin-bottom: 74px;
}
.wrapper {
  max-width: 870px;
  width: 100%;
  margin: auto;
}
.navbar {
  padding: 40px 15px 0px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.nav_item {
}

.nav_link {
  text-decoration: none;
  color: #bf7506;
  margin-left: 24px;
  font-size: 16px;
  line-height: 150%;
}

.nav_link.active {
  font-weight: 700;
}
.nav_link:hover,
.nav_link:focus,
.nav_link:active {
  color: #e9b362;
}

/* Header end */

/* About_me start */
.about_me {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 74px;
}
.about_me_pic {
  margin-right: 27px;
}
.about_me_text {
  max-width: 510px;
}
.about_me_text_hello {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #211b12;
  background-color: #fff;
  margin-bottom: 8px;
}
.about_me_text_i_am {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #bf7506;
}
.about_me_text_myname {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #211b12;
  margin-bottom: 24px;
}
.about_me_link {
  display: flex;
  flex-wrap: wrap;
  margin: 0, 10px;
}
.about_me_item {
  margin: 0 16px;
}
.about_me_item:first-child {
  margin-left: 0px;
}
.about_me_item:last-child {
  border-bottom: 2px solid #bf7506;
  padding-bottom: 7px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about_me_item_link {
  text-decoration: none;
  color: black;
}
/* About_me end */

/* Portfolio start */
.portfolio_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
  margin-bottom: 32px;
}
.portfolio_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 120px;
}

.portfolio_card {
  max-width: 399px;
  margin-bottom: 50px;
}
.partfolio_pic {
  margin-bottom: 16px;
}
.portfolio_text {
  margin-left: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #bf7506;
}
.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 16px;
}
.portofolio_item {
  padding: 5px 8px;
  margin: 0 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211b12;
  border: 1px solid #dd9c3c;
  border-radius: 4px;
}
.portfolio_subscribe {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 17px;
  margin-left: 16px;
}
.portfolio_link {
  margin-left: 16px;
  margin-right: 9px;
  align-items: center;
  padding: 7px 8px 8px 8px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 2px solid #bf7506;
}

/* Resume start */
.resume {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}
.resume_pic {
  margin-right: 56px;
}
.resume_text_about {
  max-width: 454px;
}
.resume_title {
  font-size: 24px;
  line-height: 135%;
  margin-bottom: 4px;
}
.resume_name {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
  margin-bottom: 16px;
}
.resume_text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}
.resume_skill {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #dd9c3c;
  margin-bottom: 16px;
}
.resume_podpis {
  margin-left: 0;
  margin-top: 16px;
}
/* Resume end */

/* Hard skill start */
.hard_skill {
  margin-bottom: 120px;
}
.hard_skill_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  margin-bottom: 13px;
}
.hard_skill_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hard_skill_item {
  margin-right: 6px;
  padding: 5px 8px;
  border: 1px solid #dd9c3c;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}
/* Hard skill end */
